.bouton:hover {             /*colore l'icone des boutons de la page d'accueil en violet*/
    color: $primary-color;
}

/* Styles pour le loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 9998;
    &__circle {
        width: 80px;
        height: 80px;
        border: 5px solid $primary-color;
        border-top: 4px solid transparent;
        border-radius: 50%;
        animation: spin 2s linear forwards, fadeOut 3s linear forwards;
        &__icon {
        z-index: 9999;
        @include shirkhand;
        animation: anti-spin 2s linear forwards,;
        } 
    }
}

body:not(.loaded) .loader {
    animation: hideLoader 1s linear 2s forwards;
}

@keyframes hideLoader {
    to {
      opacity: 0;
      pointer-events: none;
    }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes anti-spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
