.photo {
    height: 275px;
    width: 100%;
    object-fit: cover;
}

.menuBG {
    display: flex;
    justify-content: center;
    background-color: $white;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px 40px 0 0;
    top: -40px;
    position: relative;
    padding: 30px 15px;
    background-color: $second-backround;
    width: 100%;
    max-width: 1055px;
}

.resto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    max-width: 307px;
    position: relative;
    &__name {
        position: absolute;
        left: 0;
        top: 0;
        @include shirkhand;
        font-size: 28px;
        line-height: 41px;
        text-align: left;
        margin: 0 10px 0 0;
    }
}

.heart-icon--menu .fa-heart {
    position: absolute;
    top: 7px;
    right: 0;
    @include coeur;
}

.plat {
    margin: 0 5px 40px 5px;
    width: 100%;
    max-width: 634px;
    &__title {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        text-align: left;
        &__line {
            border-top: 3px solid $tertiary-color;
            width: 40px;
        }
        &__name {
            margin: 0 0 5px 0;
            font-weight: 300;
        }
        }
}

.meal-1 {
    opacity: 0;
    animation: fade-in 1.5s ease-in-out 0.5s forwards;
}

.meal-2 {
    opacity: 0;
    animation: fade-in 1.5s ease-in-out 1s forwards;
}

.meal-3 {
    opacity: 0;
    animation: fade-in 1.5s ease-in-out 1.5s forwards;
}

